
body{
  /* background:rgb(1, 1, 81); */ 
  background: #0A1F44;
  /* overflow: hidden; */
}

#homeContent{
  display: flex; 
  flex-direction: row;
  /* overflow: hidden; */
}


.container{
  display: inline-block; 
}

.roboto-serif-con{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    min-height: 90vh;
}

.wrapper{
  display: inline-flex;
}


.wrapper .static-txt{
  font-size: 60px;
  color: white; 
  font-size: 60px; 
  font-weight: 400;
  margin-top: -15px; 
}

.static-txt span{
  font-size: 80px;
}

.wrapper .dynamic-txt{
  margin-left: 0px; 
  line-height: 80px; 
  /* background: red;  */
  height: 60px;
  overflow:hidden;
}

.dynamic-txt li{
  position: relative;
  list-style: none; 
  font-size: 55px; 
  font-weight: 650; 
  color:aqua;
  /* color:#FC6060; */
  top: -15px;
  animation: slide 12s steps(4) infinite;
}

.dynamic-txt li span{
  position: relative;
}

.dynamic-txt li span::after{
  content:""; 
  position:absolute; 
  left: -5px;
  height: 90px; 
  width: 100%; 
  background: #0A1F44;
  /* border-left: 2px solid #FC6060; */
  border-left: 2px solid aqua;
  animation: typing 3s steps(14) infinite;
}

@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}



@keyframes slide{
  100%{
    top: -340px; 
  }
}

.roboto-serif-con {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 1020;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
}



.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  #homeContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .roboto-serif-con{
    width: 600px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Adjusts the layout to column */
    text-align:left;
    /* gap: 12px; */
  }

  .static-txt{
    font-size: 45px;
    margin-left: 32px;
    margin-right: -12px;
  }

  .static-txt span{
    font-size: 50px;
  }

  .wrapper .static-txt {
    font-size: 45px; /* Adjust font size for smaller screens */
    text-align: center;
    /* margin-left: 30px; */
    margin-right: -12px;
  }

  .dynamic-txt li {
    font-size: 50px; /* Adjust font size for smaller screens */
  }
}


@media screen and (min-width: 600px) and (max-width:1200px){
  /* Your CSS styles for screen widths between 720px and 900px go here */
  #homeContent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .roboto-serif-con{
    width: 600px;
  }

  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Adjusts the layout to column */
    text-align:left;
    /* gap: 12px; */
  }

  .static-txt{
    font-size: 55px;
    margin-left: 32px;
    margin-right: -12px;
  }

  .static-txt span{
    font-size: 55px;
  }

  .wrapper .static-txt {
    font-size: 45px; /* Adjust font size for smaller screens */
    text-align: center;
    /* margin-left: 30px; */
    margin-right: -12px;
  }

  .dynamic-txt li {
    font-size: 50px; /* Adjust font size for smaller screens */
  }
}
