#path304,#path308,#path312,#path220,#path224,#path228,#path232,#path236,#path240{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-delay: 0.01s; 
    animation-iteration-count: infinite; 
}

#path316,#path324,#path320,#path318,#path316{
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-delay: 0.01s; 
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes rotate{
    0% {transform: rotate(0deg);} 
    25% {tranform: rotate(4deg);} 
    50% {transform: rotate(4deg);} 
    75% {transform: rotate(-4deg);} 
    100% {transform: rotate(-4deg);}
}

#path140,#path144,#path148,#path152,#path156,#path156,#path160,#path164,#path168,#path172,#path176,#path136,#path180,#path184,#path184,#path178,#path188{
    animation-name: face; 
    animation-duration: 2s; 
    animation-delay: 0.01s; 
    animation-iteration-count: infinite; 
    transform-origin: center;
}

@keyframes face{
    0% {transform: rotate(0deg);} 
    25% {tranform: rotate(0.2deg);} 
    50% {transform: rotate(0.2deg);} 
    75% {transform: rotate(-0.2deg);} 
    100% {transform: rotate(-0.2deg);}
}


#path120,#path124,#path108{
    animation-name: hands; 
    animation-duration: 2s; 
    animation-delay: 0.01s; 
    animation-iteration-count: infinite; 
    transform-origin: center;
}

#path108{
    animation-direction: reverse;
}

@keyframes hands{
    0% {transform: translateX(0px);} 
    25% {tranform: translateX(2px);} 
    50% {transform: translateX(2px);} 
    75% {transform: translateX(-2px);} 
    100% {transform: translateX(-2px);}
}

#path48,#path56,#path60,#path28,#path36,#path40,#path44,#path48{
    animation-name: leaf; 
    animation-duration: 2s; 
    animation-delay: 0.01s; 
    animation-iteration-count: infinite; 
}

#path64,#path72,#path76,#path80,#path88,#path92,#path96{
    animation-name: leaf; 
    animation-duration: 2s; 
    animation-delay: 0.01s; 
    animation-iteration-count: infinite; 
    animation-direction: reverse;
}

@keyframes leaf{
        0% {transform: rotate(0deg);} 
        25% {tranform: rotate(1deg);} 
        50% {transform: rotate(1deg);} 
        75% {transform: rotate(-1deg);} 
        100% {transform: rotate(-1deg);}
}

#path276,#path280,#path284,#path288,#path292,#path296,#path300{
    animation-name: appear_disappear_reappear;
    animation-duration: 2s; 
    animation-delay: 0s; 
    animation-iteration-count: infinite;
}

#path278,#path282,#path286,#path290,#path294{
    animation-name: appear_disappear_reappear;
    animation-duration: 2s; 
    animation-delay: 0s; 
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

@keyframes appear_disappear_reappear {
    0%, 100% {
        opacity: 1;           /* Fully visible */
        visibility: visible;
    }
    25%, 75% {
        opacity: 0;           /* Fully transparent */
        visibility: hidden;
    }
    50% {
        opacity: 1;           /* Fully visible */
        visibility: visible;
    }
  }

