.about-content{
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 80px; 
    color: white;
    flex-direction: row;
    /* padding: 30px; */
    padding-left: 30px; 
    padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top:-10px;
    margin-left: 50px; 
    margin-right: 50px;
    gap: 20px;
    height: 490px;
    background-color: #223E66;
    border-radius: 35px;
    border: 2px solid white;
}


#photo{
    /* background-color: aqua;  */
    width: 350px;
    height: 400px;
    display: flex;
    /* border: 2px solid white; */
}

img{
    /* padding: 5px;  */
    /* margin: 3px; */
    width: 310px; 
    height: 390px;
    padding-left: 15px;
    /* height: 400px; */
    padding-top: -5px;
}

#intro{
    width: auto; 
    display: flex;
    flex-direction: column;
    /* height: 400px; */
    /* background-color: aqua;  */
    /* margin: 10px; */
    /* padding: 10px; */
    padding-top: 15px;
    padding-bottom: -30px;
    width: 1250px; 
    height: 480px;
    border-left: 2px solid white;
}

#intro p{
    font-size: 30px;
    padding-left:'30px'; 
    padding-bottom:'30px'; 
    margin-top: 0px;
    margin-bottom: 0px;
}

p{
    padding-left: 30px;
}


.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 255, 255);
    padding-left: 30px;
  }
  