.about-content{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center;  */
    /* justify-content: center; */
    font-size: 80px; 
    margin-top: 30px;
    color: white;
    /* padding: 30px; */
    /* padding-left: 30px;  */
    /* padding-right: 30px;
    padding-bottom: 0px;
    padding-top: 0px; */
    /* margin-top:-10px; */
    margin-left: auto;
    margin-right: auto; 
    /* margin-right: 50px;  */
    gap: 20px;
    /* height: 490px; */
    width: auto; 
    height: auto;
    background-color: transparent;
    border-radius: 35px;
    border: 2px solid white;
    flex-wrap: wrap;
    text-align: center;
}


#photo{
    /* background-color: aqua;  */
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
    height: 480px;
    display: flex;
    border-radius: 14px;
    background: url('../Images/BruceWayne.jpeg');
    background-repeat: no-repeat; 
    background-size: 100% 100%;
    /* border: 2px solid white; */
}

/* img{ */
    /* padding: 5px;  */
    /* margin: 3px; */
    /* width: 310px; 
    height: 390px;
    padding-left: 15px; */
    /* height: 400px; */
    /* padding-top: -5px;
} */

#intro{
    display: flex;
    width: 50%; 
    flex-direction: column;
    /* height: 400px; */
    /* background-color: aqua;  */
    /* margin: 10px; */
    /* padding: 10px; */
    padding-top: auto;
    padding-bottom: auto;
    /* width: 1250px;  */
    /* height: 480px; */
    /* border-left: 2px solid white; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#intro p{
    font-size: 25px;
    padding-left:'30px'; 
    padding-bottom:'30px'; 
    margin-top: 0px;
    margin-bottom: 0px;
    flex-wrap: wrap;
}

p{
    padding-left: 30px;
}


.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  #intro span{
    /* border-bottom: 2px aqua solid; */
    font-size: 55px;
  }
  .share-tech-regular-skill , .share-tech-regular{
    font-family: "Share Tech", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 255, 255);
    padding-left: 30px;
    padding-bottom: 10px;
  }
  

  .social-media{
    display: flex; 
    flex-direction: row;
    margin-top: 20px;
  }

  .social-media img{
    width: 120px; 
    height: 120px;
  }
  
  .social-media img:hover{
    cursor: pointer;
  }

  .skill-title{
    color:white; 
    display:flex; 
    justify-content:center; 
    margin-top:20px;
    margin-left:50px; 
    margin-right:50px; 
    width:auto; 
    height:auto; 
    font-size:55px; 
    font-weight:500; 
    text-align:center;
  }



  
@media screen and (min-width: 600px) and (max-width:1200px)  {
  .about-content{
    display: flex; 
    flex-direction: column;
    width: 890px; 
    height: 25%;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  #intro{
    border-left: none; 
    height: auto; 
    width: auto;
    margin-bottom: 14px;
  }

  .skill-title{
    width: 890px;
  }

  #photo{
    width: 200px; 
    height: 300px;
    margin-top: 22px;
  }

  .social-media{
    margin-bottom: 12px;
  }
}


@media screen and (max-width: 600px) {
  .about-content{
    display: flex; 
    flex-direction: column;
    width: 590px; 
    height: auto;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  #intro{
    border-left: none; 
    height: auto; 
    width: auto;
    margin-bottom: 14px;
  }

  .skill-title{
    width: 590px;
  }

  #photo{
    width: 200px; 
    height: 300px;
    margin-top: 22px;
  }

  .social-media{
    margin-bottom: 12px;
  }
}