.skill-icons{
    height: auto; 
    width: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 150px; 
    margin-right: 150px;
    margin: -10px 0 0 -10px;
    /* padding-bottom: 150px; */
}

.skill-icons img{
    height: 140px; 
    width: 170px;
}