.skill-icons{
    height: auto; 
    width: auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 70px; 
    margin-right: 70px;
    margin: -10px 0 0 -10px;
    gap: 50px;
    /* padding-bottom: 150px; */
}

.skill-icons img{
    height: 85px; 
    width: 100px;
}