
.project-content {
    background-color: #0A1F44;
    color: white;
    display: flex;
    flex-direction: column;
    /* margin: -14px;
    padding: 24px; */
}

.mdo {
    display: block;
    position: absolute;
    background-color: #0A1F44;
    border: 2px white solid;
    height: 600px;
    width: 1400px;
    margin-top: 180px;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 24px;
    animation: dropTop .3s linear;
    align-content: center;
    left:auto; 
    right: auto; 
    
}

@keyframes dropTop {
    0% {
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
}

.button1 {
    height: auto;
    width: auto;
    background-color: aqua;
    font-size: 25px;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.project-content .button1:hover {
    cursor: pointer;
    background-color: rgb(0, 96, 96);
    border: hidden;
}

.heading {
    width: 100%;
    text-align: center;
    border-bottom: 2px aqua solid;
    padding-bottom: 20px;
}

.blur {
    filter: blur(5px);
}

.mdo-fade-out {
    animation: fadeout 0.3s forwards;
}

@keyframes fadeout {
    0% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%) scale(0);
        opacity: 0;
    }
}

.project-image {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-images {
    background-color: black;
}

.tech-used {
    width: 500px;
    border: 2px aqua solid; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color:  #0A1F44;
    margin-top: 0%; 
    padding-top: 0%;
}

.project-images img {
    height: 275px;
    width: 595px;
    margin-left: -11px;
    /* margin-right: 11px; */
}

.Heading{
    height: auto; 
    width: 80%;
    text-align: center; 
    margin-top: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid aqua;
    /* background-color: aqua; */
}

.Heading span{
    font-size: 25px;
    color: aqua;
    margin-top: 12px;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.list{
    display: flex; 
    /* justify-content: left;  */
    align-items: flex-start; 
    padding-top: 20px;
}

.custom-list {
    list-style-type: square; /* Use square bullets instead of default disc */
  }
  

  .custom-list li {
    margin-bottom: 10px; /* Add some space between list items */
  }

  .buttons{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    gap: 40px;
  }